:local(.container){
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: auto;
	:local(.navigation){
		height:64px;
		width: 100%;
		flex-shrink: 0;
		flex-grow: 0;
		background-color: #00AECB;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding:0 40px;
		:local(.logo){
			font-size:26px;
			color:white;
		}
	}
	:local(.content){
		flex-grow: 1;
		display: flex;
		width: 100%;
		height: 100%;
		overflow: auto;
		:local(.leftPanel){

			height:calc( 100vh - 64px);
			flex-grow:0;
			width: 240px;
			flex-shrink: 0;
		}
		:local(.mainPanel){
			flex-grow: 1;
			background-color: #efefef;
			padding: 20px;
			overflow: auto;
		}
	}
}
