@import '~variant.scss';

:local(.container){
	display: flex;
	flex-direction: column;
	height: 500px;

	:local(.toolBar){
		display:flex;
		flex-grow: 0;
		flex-shrink: 0;
		margin-bottom: 10px;
		justify-content: space-between;
	}
	:local(.editPanel){
		flex-grow: 1;
		display: flex;
		// width: 306px;
		// flex-shrink: 0;
		:local(.editPart){
			border:1px #efefef solid;
			border-radius: $primary-border-radius;
			margin-right: 5px;
			overflow: auto;
			flex-grow: 0;
			width: 306px;
		}
	}
	:local(.displayPart){
		width: 30%;
		flex-shrink: 0;
		border:1px #efefef solid;
		overflow: auto;
		margin-right: 5px;
		border-radius: $primary-border-radius;
	}
	:local(.coverPart){
		flex-shrink: 0;
		flex-grow: 1;
		border:1px #efefef solid;
		overflow: auto;
		border-radius: $primary-border-radius;
	}
}

:local(.unstyled){
	font-size: 16px;
	text-indent:2em;
    font-family: fantasy;
}
